img {
    height: 400px;

}

a {
    display: block;
    width: 100%;
}

.dalle {
    color: red;
}

.funfact {
    width: 300 px;
    position: absolute;
    top: 5px;
    right: 5px;

    padding: 5px;
    border: 1px solid red;


}
